<div class="container-fluid header">
  <a href="#/signup" class="pull-right" ng-hide="isAuthorized()">Signup</a>
  <h1>酌酒花间</h1>
  <h5>即行即景，</h5>
  <h5>且行且思</h5>
</div>
<div class="container login-wrapper">
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" ng-model="user.email" type="text" placeholder="Email"></input>
      </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" ng-model="user.password" type="password" placeholder="Password"></input>
    </div>
    <button class="btn btn-default" ng-click="signin()">Signin</button>
  </form>
</div>