#page-console
  padding-top: 50px
  div.nav
    display: inline-block
    width: 100px
    border-right: solid 2px rgb(108, 226, 231)
    font-size: 17px
    color: #808D9C

  div.content
    display: inline-block