
  .header
    background: url("../images/bg.png")
    background-repeat: no-repeat
    background-size: 100%, auto
    min-width: 300px
    min-height: 300px
    color: white

  .blog-wrapper
    margin: 30px
    .title
      display: block
      color: rgb(60, 157, 135)
      margin: 30px 0
    .preview
      margin: 20px 0
      max-height: 200px
      overflow: hidden