doctype html
html(lang="zh-CN")
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/libs/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/libs/jquery-2.0.3.min.js')
    script(src='/libs/bootstrap/bootstrap.js')
  body
    block content
