/*
 * Colors
 */
brand-color = #28AFB4
main-color = #28B0B5
back-color = #FEFEFE
assist-color1 = #24ABB1
assist-color2 = #03A24E
assist-color3 = #D5F0EB
assist-color4 = #F2F2F2

brand-font-color = #036F72
brand-back-font-color = #FFF6CE
main-font-color = #414A4E